.Wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 450px;
  margin-left: 30px;
  margin-right: 30px;
  .title {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 800;
  }
  .subTitle {
    font-weight: 700;
    margin-top: 30px;
  }
  .nameAndTitleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    .nameBox {
      margin-top: 30px;
      font-weight: 500;
      .surveyNameText {
        font-size: 20px;
        font-weight: 600;
      }
      .noneName {
        font-size: 18px;
        font-weight: 600;
        color: red;
      }
    }

    .titleBox {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      .surveyTitleText {
        font-size: 17px;
        font-weight: 600;
      }
      .questionsNum {
        font-size: 20px;
        font-weight: 600;
      }
      .noneSurvey {
        font-size: 18px;
        font-weight: 600;
        color: red;
      }
    }
  }
}
