.surveyWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 25px 0 25px;
  width: 300px;
  .surveyTitle {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
  }
  .progressBarBox {
    display: flex;
    align-items: center;
    margin: 30px 0 20px 0;
    .surveyCurrentNumber {
      margin-left: 30px;
      font-weight: 700;
    }
    .surveyTotalNumber {
      font-weight: 700;
      color: gray;
    }
  }
  .surveyNumber {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 500;
  }
  .surveyName {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
  }
  .btnWrap {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 120px;
    margin: 0 25px 0 25px;
  }
}
