.pickSurvey {
  font-size: 18px;
  font-weight: 700;
  .name {
    color: black;
  }
  .survetTitle {
    color: red;
  }
}
.printQuestion {
  font-size: 18px;
  font-weight: 700;
}
.printAnswer {
  color: red;
  font-weight: 700;
}
