.progressBar {
  display: flex;
  width: 230px;
  .progressSquareOff {
    width: 15px;
    height: 20px;
    background-color: #f3f3f3;
  }
  .progressSquareOn {
    width: 15px;
    height: 20px;
    background-color: #b61bd1;
  }
  .progressLineOn {
    display: inline-block;
    width: 100%;
    border: none;
    border-top: 5px solid #b61bd1;
  }
  .progressLineOff {
    display: inline-block;
    width: 100%;
    border: none;
    border-top: 5px solid #f3f3f3;
  }
}
